/* Variables CSS para colores y tamaños */
:root {
	--primary-color: #6200ea;
	--secondary-color: #4500b5;
	--background-color: #f4f4f9;
	--text-color: #333;
	--accent-color: #f6931f;
	--font-family: "Arial", sans-serif;
	--border-radius: 8px;
	--box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	--transition-duration: 0.3s;
}

/* Estilos base */
body {
	font-family: var(--font-family);
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	color: var(--text-color);
}

header {
	background-color: var(--primary-color);
	color: white;
	padding: 1em 0;
	text-align: center;
	box-shadow: var(--box-shadow);
}

h1 {
	margin: 0;
	font-size: 2.5em;
}

main {
	display: flex;
	max-width: 1200px;
	margin: 2em auto;
	padding: 0 1em;
}

aside {
	width: 250px;
	padding: 2em;
	background: white;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	margin-right: 2em;
}

aside button:not(#apply-filters, #clear-filters) {
	display: none;
}

form h2 {
	margin-top: 0;
}

label {
	display: block;
	margin: 0.5em 0 0.2em;
}

input,
select {
	width: 100%;
	padding: 0.5em;
	margin-bottom: 1em;
	border: 1px solid #ccc;
	border-radius: var(--border-radius);
}

button {
	width: 100%;
	padding: 0.5em;
	background-color: var(--primary-color);
	color: white;
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
	margin-bottom: 1em;
	transition: background-color var(--transition-duration) ease-in-out;
}

button:hover {
	background-color: var(--secondary-color);
}

#product-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2em;
	flex-grow: 1;
}

.product {
	background-color: white;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	overflow: hidden;
	transition: transform var(--transition-duration) ease;
}

.product:hover {
	transform: translateY(-5px);
}

.product-content {
	padding: 1em;
}

.product h3 {
	margin-top: 0;
	font-size: 1.5em;
	color: var(--primary-color);
}

.product p {
	margin: 0.5em 0;
	color: #666;
}

.product span {
	display: block;
	margin-top: 0.5em;
	font-size: 1.2em;
	font-weight: bold;
	color: var(--text-color);
}

/* Estilos para el carrusel */
.slick-slide {
	text-align: center;
	background-color: #9c9c9c;
}

.slick-slide img {
	display: inline-block;
	max-width: 100%;
	height: auto;
	max-height: 300px; /* Ajusta esta altura según tus necesidades */
	object-fit: contain; /* Ajusta el tamaño de la imagen manteniendo la relación de aspecto */
}

/* Personalización de flechas del carrusel */
.slick-prev,
.slick-next {
	/* background-color: #333; */
	/* background-color: rgba(0, 0, 0, 0.5); Fondo semitransparente oscuro */
	color: #fff; /* Color del texto blanco */
	border: none;
	padding-right: 5px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	/* font-size: 18px; */
}

.slick-prev {
	left: 10px;
}

.slick-next {
	right: 10px;
}

/* .slick-prev:hover,
.slick-next:hover {
	background-color: #555;
} */

#toggleAside {
	display: none;
}

@media (max-width: 768px) {
	#toggleAside {
		display: block;
	}
	main {
		flex-direction: column;
		/* Cambia la dirección del flex a columna para que el aside y la sección de productos estén uno encima del otro */
	}

	aside {
		position: fixed;
		top: 0px;
		left: 35px;
		width: 300px;
		height: auto;
		display: none; /* Esto lo empuja fuera de la vista inicial */
	}
	aside.open {
		top: 190px;
		z-index: 100;
		display: block; /* Esto lo trae de vuelta a la vista */
	}
	#product-list {
		grid-template-columns: 1fr;
		/* Hace que los productos se muestren en una sola columna */
	}

	/* Oculta todos los elementos excepto el buscador y el slider */
	aside label:not(#filter-name-label),
	aside input:not(#filter-name, #amount),
	aside div:not(#price-range),
	aside button:not(#apply-filters, #clear-filters) {
		display: none;
	}
	/* Muestra el slider y el buscador */
	aside #filter-name,
	aside #price-range {
		display: block;
	}
}
